body{
  margin: 0px;
  padding: 0px;
  background: #111111;
  font-size: 12pt;
  font-weight: 200;
  color: #FFF;
}

#header-wrapper{
  background-image: url("headercof.jpeg");
  background-size: cover;
  position: relative;
  padding: 5em 0em 7em 0em;
 
  

  font-family: 'Oxygen', sans-serif;
  font-weight: bold;
  color: rgb(255, 255, 255);
  font-size: 0.875em;
  text-align: center;

}

h1{
  font-family: 'Anton', sans-serif;
  color: rgb(255, 255, 255);
  font-size: 70px;

}

h2{
  font-family: 'Playfair Display', serif;
  color: rgb(0, 0, 0);
  text-align: center;
}

h3{
  font-family: 'Playfair Display', serif;
  color: rgb(0, 0, 0);

}

#banner
{
  padding-top: 10em;
  text-align: center;
}


#wrapper
{
  position: relative;
  padding: 5em 0em 7em 0em;
  background: rgb(255, 255, 255);
}
.container
{
  overflow: hidden;
  margin: 0em auto;
  width: 1200px;
}

.footer {
  font-family: 'Anton', sans-serif;
  color: rgb(0, 0, 0);
  text-align: center;
  font-size: 0.875em;
}

.col-md {
  align-items: center;
}

.btn{
  position: center;
  margin: auto;
}

